.profileFormEditBlock{

          height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.profileLinks{
  margin-top: 40px;
}