.inputDefault{
  width: 140px;
  height: 20px;
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.error{
  color:red;
}

.labelInputDefault{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-items: start;
  gap: 4px;
}